.row {
    margin-right: -10px;
    margin-left: -10px;
}

.col-md-4,
.col-xs-6,
.col-sm-4 {
    float: left;
    min-height: 1px;
    position: relative;
}

.list-grp {
    border: 0;
    border-radius: 0;
    box-shadow: 0 0 0;
    margin: 0;
}

.list-grp {
    margin-bottom: 20px;
    padding-left: 0;
}

.list-grp a {
    border-radius: 0;
}

.list-grp-itm {
    background-color: #FFFFFF;
    border: 1px solid #DDDDDD;
    display: block;
    margin-bottom: -1px;
    padding: 5px 20px;
    position: relative;
}

.list-grp-itm:first-child {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.sintax {
    background: #EEEEEE;
    border: 1px solid #E6E6E6;
    border-radius: 5px;
    box-shadow: #6D97B7 1px 1px 1px;
    border-collapse: collapse;
    border-spacing: 0;
    font-family: Consolas, 'Courier New', Courier, monospace;
    font-size: 1em;
    margin: 0 0 20px;
    padding: 5px;
    white-space: pre-wrap;
    word-wrap: break-word;
}

.arg {
    background: #EEEEEE;
    border: 1px solid #E6E6E6;
    border-radius: 4px;
    box-shadow: #6D97B7 1px 1px 1px;
    padding-right: 1px;
    padding-left: 1px;
}

.crayon-syntax {
    border-radius: 4px;
    box-shadow: #6D97B7 1px 1px 1px;
}

li.list {
    background: none;
}

.rel_1,
.rel_2 {
    float: left;
    position: relative;
    width: 45.3%;
    background-color: #fff;
}

.gt_ct {
    margin-top: 10px;
    display: block;
}

#text-2 {
    margin-left: 6.6rem;
    display: block;
}

.list-grp-itm,
.menu-item,
.entry-content p {
    font-family: 'PT Serif', serif;
}
